<!-- error form section -->
<section class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-5">
        <div class="card border-0 shadow-sm rounded-3">
          <div class="card-body p-5">
            <div class="text-center mb-3">
              <h5 class="text-primary fw-bold">Monthly Tracking Sheet</h5>
            </div>
            <div><span class="fw-bold">404.</span>That's an error.</div>
                <div class="fw-bold pt-3">The request URL /error was not found on this server</div>
                <div>That's all we know.</div>
           <button
                type="button"
                class="btn btn-primary py-2 shadow-sm rounded-3 mt-3 mx-auto d-flex"
              >
               Go Back
              </button>
        </div>
        </div>
      </div>
    </div>
  </section>
<!-- /error from sect -->