<!-- <p class="xyz">data works!</p>
<h4 class="abc">{{ pass.firstName }}</h4>
<h4>{{ pass.lastName }}</h4>
<h4>{{ pass.age }}</h4>
<button (click)="passDataEvent.emit('helloooooo')">updateData</button>
<p #name>text</p>
<h4>{{ detail.firstName }}</h4>

<p class="second" (click)="myData()">test</p>
<div>
  <app-test [text]="title" (serveEvent)="serve($event)">
    <button>testtttttttttttttttttttttttt</button> 
  </app-test>
</div> -->

  <form>
    <!-- <div class="w-25 justify-content-center align-items-center d-flex flex-column">
    <div class="mb-4">
      <label for="inputEmail" class="form-label">{{
        loginLabels.firstName
      }} </label>
      <input
      name="email"
        type="email"
      class="form-control shadow-sm rounded-3"
        id="inputEmail"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-4">
      <label for="inputEmail" class="form-label" formControlName="">{{
        loginLabels.email
      }} </label>
      <input
      name="email"
        type="email"
      class="form-control shadow-sm rounded-3"
        id="inputEmail"
        aria-describedby="emailHelp"
      />
    </div> -->
    
    <!-- </div> -->
  </form> 

