<!-- register form section -->
<section class="container">
 <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-5">
      <div class="card border-0 shadow-sm rounded-3">
        <div class="card-body p-5">
          <div class="text-center mb-5">
            <h5 class="text-primary fw-bold">{{ applicationTitle }}</h5>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate="false">
            <div class="mb-4">
              <label for="inputFirstName" class="form-label">{{
                registerLabels.firstName
              }}</label>
              <input
              formControlName="firstName"
                type="email"
                class="form-control shadow-sm rounded-3"
                id="inputFirstName"
                aria-describedby="emailHelp"
              />
              <span style="color: red;" *ngIf="firstName && firstName.invalid && firstName.touched || isValid && firstName?.untouched">This field is not valid </span>
            </div>
            <div class="mb-4">
              <label for="inputLastName" class="form-label">{{
                registerLabels.lastName
              }}</label>
              <input
              formControlName="lastName"
                type="email"
                class="form-control shadow-sm rounded-3"
                id="inputLastName"
                aria-describedby="emailHelp"
              />
              <span style="color: red;" *ngIf="lastName && lastName.invalid && lastName.touched || isValid && lastName?.untouched">This email field is not valid </span>

            </div>
            <div class="mb-4">
              <label for="inputEmail" class="form-label">{{
                registerLabels.email
              }}</label>
              <input
              formControlName="email"
                type="email"
                class="form-control shadow-sm rounded-3"
                id="inputEmail"
                aria-describedby="emailHelp"
              />
              <span style="color: red;" *ngIf="email && email.invalid && email.touched || isValid && email?.untouched">This email field is not valid </span>
            </div>
            <div class="mb-4">
              <label for="inputEmail" class="form-label">{{
                registerLabels.profession
              }}</label>
              <select
              formControlName="profession"
                class="form-select shadow-sm rounded-3"
                aria-label="Default select example"
              >
                <option selected="true" [value]="registerLabels.professionSelect.selectProfession">{{registerLabels.professionSelect.selectProfession}}</option>
                <option>{{registerLabels.professionSelect.backendDeveloper}}</option>
                <option>{{registerLabels.professionSelect.frontendDeveloper}}</option>
                <option>{{registerLabels.professionSelect.qaDeveloper}}</option>
                <option>{{registerLabels.professionSelect.bdeDeveloper}}</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="inputMobileNumber" class="form-label">{{
                registerLabels.mobileNumber
              }}</label>
              <input
              formControlName=mobileNumber
                type="number"
                class="form-control shadow-sm rounded-3"
                id="inputMobileNumber"
                aria-describedby="emailHelp"
              />
              <span style="color: red;" *ngIf="mobileNumber && mobileNumber.invalid && mobileNumber.touched || isValid && mobileNumber?.untouched">This email field is not valid </span>

            </div>
            <div class="mb-4">
              <label for="inputPassword" class="form-label">{{
                registerLabels.password
              }}</label>
              <input
              formControlName=password
                type="text"
                class="form-control shadow-sm rounded-3"
                id="inputPassword"
              />
              <span style="color: red;" *ngIf="password && password.invalid && password.touched || isValid && password?.untouched">This email field is not valid </span>
            </div>
            <div class="mb-4">
              <label for="inputConfirmPassword" class="form-label">{{
                registerLabels.confirmPassword
              }}</label>
              <input
              formControlName=confirmPassword
                type="password"
                class="form-control shadow-sm rounded-3"
                id="inputConfirmPassword"
              />
              <span style="color: red;" *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched || isValid && confirmPassword?.untouched">This email field is not valid </span>
              <span style="color: red;" *ngIf="password?.value !== confirmPassword?.value">not same</span>
            </div>
            <button *ngIf="window !== 'http://localhost:4200/edit'" (click)="isValidate()"
              type="submit"
              class="btn btn-primary w-100 py-2 shadow-sm rounded-3"
            >
              {{registerButton}}
            </button>
            <button *ngIf="window === 'http://localhost:4200/edit'" (click)="updateRegister()"
              type="submit"
              class="btn btn-primary w-100 py-2 shadow-sm rounded-3"
            >
              update
            </button>
            <a routerLink="/login" class="d-block text-center pt-3 text-primary"
              >Already have an account</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /register form section -->
