<!-- register form section -->
<section class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-5">
      <div class="card border-0 shadow-sm rounded-3">
        <div class="card-body p-5">
          <div class="text-center mb-5">
            <h5 class="text-primary fw-bold">{{ applicationTitle }}</h5>
          </div>
          <form>
            <div class="mb-4">
              <label for="inputFirstName" class="form-label">{{
                registerLabels.firstName
              }}</label>
              <input
                type="email"
                class="form-control shadow-sm rounded-3"
                id="inputFirstName"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-4">
              <label for="inputLastName" class="form-label">{{
                registerLabels.lastName
              }}</label>
              <input
                type="email"
                class="form-control shadow-sm rounded-3"
                id="inputLastName"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-4">
              <label for="inputEmail" class="form-label">{{
                registerLabels.email
              }}</label>
              <input
                type="email"
                class="form-control shadow-sm rounded-3"
                id="inputEmail"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-4">
              <label for="inputEmail" class="form-label">{{
                registerLabels.profession
              }}</label>
              <select
                class="form-select shadow-sm rounded-3"
                aria-label="Default select example"
              >
                <option selected>{{registerLabels.professionSelect.selectProfession}}</option>
                <option value="1">{{registerLabels.professionSelect.backendDeveloper}}</option>
                <option value="2">{{registerLabels.professionSelect.frontendDeveloper}}</option>
                <option value="3">{{registerLabels.professionSelect.qaDeveloper}}</option>
                <option value="3">{{registerLabels.professionSelect.bdeDeveloper}}</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="inputMobileNumber" class="form-label">{{
                registerLabels.mobileNumber
              }}</label>
              <input
                type="email"
                class="form-control shadow-sm rounded-3"
                id="inputMobileNumber"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-4">
              <label for="inputPassword" class="form-label">{{
                registerLabels.password
              }}</label>
              <input
                type="password"
                class="form-control shadow-sm rounded-3"
                id="inputPassword"
              />
            </div>
            <div class="mb-4">
              <label for="inputConfirmPassword" class="form-label">{{
                registerLabels.confirmPassword
              }}</label>
              <input
                type="password"
                class="form-control shadow-sm rounded-3"
                id="inputConfirmPassword"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100 py-2 shadow-sm rounded-3"
            >
              {{registerButton}}
            </button>
            <a routerLink="/login" class="d-block text-center pt-3 text-primary"
              >Already have an account</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /register form section -->
