<!-- register form section -->
<section class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-5">
      <div class="card border-0 shadow-sm rounded-0">
        <div class="card-body p-5">
          <div class="text-center mb-5">
            <h5 class="text-primary fw-bold">Monthly Tracking Sheet</h5>
          </div>
          <form>
            <div class="mb-4">
              <label for="inputFirstName" class="form-label">First Name</label>
              <input
                type="email"
                class="form-control shadow-sm rounded-0"
                id="inputFirstName"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-4">
              <label for="inputLastName" class="form-label">Last Name</label>
              <input
                type="email"
                class="form-control shadow-sm rounded-0"
                id="inputLastName"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-4">
              <label for="inputEmail" class="form-label">Email</label>
              <input
                type="email"
                class="form-control shadow-sm rounded-0"
                id="inputEmail"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-4">
              <label for="inputEmail" class="form-label">Profession</label>
              <select
                class="form-select shadow-sm rounded-0"
                aria-label="Default select example"
              >
                <option selected>Select Profession</option>
                <option value="1">Backend Developer</option>
                <option value="2">Frontend Developer</option>
                <option value="3">QA Developer</option>
                <option value="3">BDE Developer</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="inputMobileNumber" class="form-label"
                >Mobile Number</label
              >
              <input
                type="email"
                class="form-control shadow-sm rounded-0"
                id="inputMobileNumber"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-4">
              <label for="inputPassword" class="form-label">Password</label>
              <input
                type="password"
                class="form-control shadow-sm rounded-0"
                id="inputPassword"
              />
            </div>
            <div class="mb-4">
              <label for="inputConfirmPassword" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control shadow-sm rounded-0"
                id="inputConfirmPassword"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100 py-2 shadow-sm rounded-0"
            >
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /register form section -->
