<!-- login form section -->
<section class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-5">
      <div class="card border-0 shadow-sm rounded-3">
        <div class="card-body p-5">
          <div class="text-center mb-5">
            <h5 class="text-primary fw-bold">{{ applicationTitle }}</h5>
          </div>
          <form>
            <div class="mb-4">
              <label for="inputEmail" class="form-label">{{
                loginLabels.email
              }} </label>
              <input
              name="email"
                type="email"
                [(ngModel)]="email"
                class="form-control shadow-sm rounded-3"
                id="inputEmail"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-4">
              <label for="inputPassword" class="form-label">{{
                loginLabels.password
              }}</label>
              <input
              name="password"
                type="password"
                [(ngModel)]="password"
                class="form-control shadow-sm rounded-3"
                id="inputPassword"
              />
            </div>
            <div class="mb-4 form-check">
              <input
                type="checkbox"
                class="form-check-input shadow-sm rounded-1"
                id="rememberMe"
              />
              <label class="form-check-label" for="rememberMe">{{
                loginLabels.remember
              }}</label>
            </div>
            <button (click)="setValue()"
              type="submit"
              class="btn btn-primary w-100 py-2 shadow-sm rounded-3"
            >
              {{loginButton}}
            </button>
            <a
              routerLink="/register"
              class="d-block text-center pt-3 text-primary"
              >Create new account</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /login form section -->
<app-test>
  <button>test</button>
  <button class="abc">click</button>
  <button class="xyz">testing</button>
</app-test>