<!-- login form section -->
<section class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-5">
      <div class="card border-0 shadow-sm rounded-3">
        <div class="card-body p-5">
          <div class="text-center mb-5">
            <h5 class="text-primary fw-bold">Monthly Tracking Sheet</h5>
          </div>
          <form>
            <div class="mb-4">
              <label for="inputEmail" class="form-label">Email</label>
              <input
                type="email"
                class="form-control shadow-sm rounded-3"
                id="inputEmail"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-4">
              <label for="inputPassword" class="form-label">Password</label>
              <input
                type="password"
                class="form-control shadow-sm rounded-3"
                id="inputPassword"
              />
            </div>
            <div class="mb-4 form-check">
              <input
                type="checkbox"
                class="form-check-input shadow-sm rounded-1"
                id="rememberMe"
              />
              <label class="form-check-label" for="rememberMe"
                >Remember me</label
              >
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100 py-2 shadow-sm rounded-3"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
 </section>
<!-- /login form section -->
<!-- <button (click)="enroll()">+ add</button>
<h1>{{demo}}</h1> -->
<app-chid-comp></app-chid-comp>
